In [1]:
import pandas as pd

# Data frame to store the combined data
data = pd.DataFrame(data=[], columns=['beer_info', 'search_name', 'beer_name'])

# Number of files collected
num_files = 100

for i in range(num_files):

    # In that path beer_n_1.csv Only files in the format are collected and merged.
    try : 
        temp = pd.read_csv(f'beer_n_{i}.csv', index_col=0)
        data = pd.concat([data, temp])
    # It is skipped when an error occurs.
    except :
        print(i, 'error.. move to the next file.')

# Save the combined data.
data.to_csv('final_data.csv', encoding='utf-8')

In [2]:
data = pd.read_csv('final_data.csv', encoding='utf-8', index_col=0)

data = data[['beer_name', 'beer_info']]

data.tail()

,beer_name,beer_info
1,Unibroue 17 Grande RÃ©serve (Rhum & Cognac),"Viper666.Qc(10,518)\nðŸ‡¨ðŸ‡¦Richelieu, Canada\n4.0A..."
2,Unibroue 17 Grande RÃ©serve (Rhum & Cognac),"TaktikMTL(8,008)\nðŸ‡¨ðŸ‡¦MontrÃ©al, Canada\n4.0Febru..."
3,Unibroue 17 Grande RÃ©serve (Rhum & Cognac),"MartinT(10,698)\nðŸ‡¨ðŸ‡¦Montreal, Canada\n3.8Septem..."
4,Unibroue 17 Grande RÃ©serve (Rhum & Cognac),"Stoned99(2,365)\nðŸ‡¨ðŸ‡¦Saint-Jean-Sur-Richelieu, C..."
5,Unibroue 17 Grande RÃ©serve (Rhum & Cognac),"punkska101(3,022)\nðŸ‡¨ðŸ‡¦Chambly, Canada\n4.1Septe..."

# Transform

In [3]:
data['beer_info'].iloc[0]

'czgr(819)\r\nðŸ‡µðŸ‡±Opole, Poland\r\n1.6January 27, 2021\r\nPite jakiÅ› czas temu. Ocena w celu uzupeÅ‚nienia profilu. \r\nhttps://www.instagram.com/czgr_\r\nAroma\r\n-\r\nAppearance\r\n-\r\nFlavor\r\n-\r\nMouthfeel\r\n-\r\nOverall\r\n-'

In [4]:
# Copy the original dataframe
temp = data.copy()

# \n Separation based on newline character
temp['beer_info'] = temp['beer_info'].str.replace('\r','').str.split('\n')
temp['beer_info']

0    [czgr(819), ðŸ‡µðŸ‡±Opole, Poland, 1.6January 27, 20...
1    [ResinousMaestro55(268), ðŸ‡¬ðŸ‡§Hampton, England, 2...
2    [nimbleprop(11,986), ðŸ‡ºðŸ‡¸Southeast, Washington, ...
3    [troopie(4,238), ðŸ‡ºðŸ‡¸Munchen an der Willamette, ...
4    [BubbleTamer35(1), 1.9May 28, 2019, Strong tas...
                           ...
1    [Viper666.Qc(10,518), ðŸ‡¨ðŸ‡¦Richelieu, Canada, 4.0...
2    [TaktikMTL(8,008), ðŸ‡¨ðŸ‡¦MontrÃ©al, Canada, 4.0Febr...
3    [MartinT(10,698), ðŸ‡¨ðŸ‡¦Montreal, Canada, 3.8Septe...
4    [Stoned99(2,365), ðŸ‡¨ðŸ‡¦Saint-Jean-Sur-Richelieu, ...
5    [punkska101(3,022), ðŸ‡¨ðŸ‡¦Chambly, Canada, 4.1Sept...
Name: beer_info, Length: 115737, dtype: object

In [5]:
# Check separated string value -> Converted to List
temp['beer_info'].iloc[0]

['czgr(819)',
 'ðŸ‡µðŸ‡±Opole, Poland',
 '1.6January 27, 2021',
 'Pite jakiÅ› czas temu. Ocena w celu uzupeÅ‚nienia profilu. ',
 'https://www.instagram.com/czgr_',
 'Aroma',
 '-',
 'Appearance',
 '-',
 'Flavor',
 '-',
 'Mouthfeel',
 '-',
 'Overall',
 '-']

In [6]:
# We will preprocess after copy() to the new data frame ttmp.
ttmp = temp.copy()
# Beer information list output: User information with the number of likes
ttmp['beer_info'].iloc[10]

['drfabulous(13,307)',
 'ðŸ‡ºðŸ‡¸Lexington, United States',
 '2.5July 27, 2018',
 '12 ounce can on a plane. Nothing special here. Same old plain tasteless or slightly sweet cheap lager.',
 'Aroma',
 '5',
 'Appearance',
 '2',
 'Flavor',
 '2',
 'Mouthfeel',
 '3',
 'Overall',
 '13']

In [7]:
# Find the one with 1 like in the entire data frame and delete the last one
ttmp['beer_info'] = ttmp['beer_info'].apply(lambda x : x if x[-2]=='Overall' else x[:-1] )

In [8]:
# From beer information0,1,2,3 Extract the first list element and 10 list elements (score values) from the back
ttmp['beer_info'] = ttmp['beer_info'].apply(lambda x : x[:4]+x[:-11:-1])

# The number of likes has been deleted normally
ttmp['beer_info'].iloc[10]

['drfabulous(13,307)',
 'ðŸ‡ºðŸ‡¸Lexington, United States',
 '2.5July 27, 2018',
 '12 ounce can on a plane. Nothing special here. Same old plain tasteless or slightly sweet cheap lager.',
 '13',
 'Overall',
 '3',
 'Mouthfeel',
 '2',
 'Flavor',
 '2',
 'Appearance',
 '5',
 'Aroma']

In [9]:
# Store ID in first list element
# After that, each evaluation value is saved from the back
ttmp['user'] = ttmp['beer_info'].apply(lambda x: x[0])
ttmp['aroma'] = ttmp['beer_info'].apply(lambda x: x[-2])
ttmp['appearance'] = ttmp['beer_info'].apply(lambda x: x[-4])
ttmp['flavor'] = ttmp['beer_info'].apply(lambda x: x[-6])
ttmp['mouthfeel'] = ttmp['beer_info'].apply(lambda x: x[-8])
ttmp['overall'] = ttmp['beer_info'].apply(lambda x: x[-10])

# Of the list 1,2,3 Pull out only the first element (rating date or odd value)
ttmp['beer_info'] = ttmp['beer_info'].apply(lambda x:x[1:4])
ttmp['length'] = ttmp['beer_info'].apply(lambda x:len(x))

# Check the result
ttmp.head(3)

,beer_name,beer_info,user,aroma,appearance,flavor,mouthfeel,overall,length
0,San Miguel,"[ðŸ‡µðŸ‡±Opole, Poland, 1.6January 27, 2021, Pite ja...",czgr(819),-,-,-,-,-,3
1,San Miguel,"[ðŸ‡¬ðŸ‡§Hampton, England, 2.5January 15, 2021, Fizz...",ResinousMaestro55(268),5,3,5,3,9,3
2,San Miguel,"[ðŸ‡ºðŸ‡¸Southeast, Washington, United States, 2.5Fe...","nimbleprop(11,986)",5,3,5,2,10,3

In [10]:
# 4.0 + Use regular expressions to extract text that has been treated as an alphabet

import re

# ex) 4.0December 28, 2020 extraction
reg = re.compile('[0-9]+.+[0-9]+[A-Za-z0-9]*')

In [11]:
# If it matches the string corresponding to the regular expression, the list element is saved in the beer information.
# reg.match()Is re.compile() Returns the string that matches the regular expression of, otherwise returns False
# Using nested ternary expressions: https://ooyoung.tistory.com/116

ttmp['beer_info'] = ttmp['beer_info'].apply(lambda x: x[0] if reg.match(x[0]) else 
                                  (x[1] if reg.match(x[1]) else x[2]))

# Check the result
ttmp.head()

,beer_name,beer_info,user,aroma,appearance,flavor,mouthfeel,overall,length
0,San Miguel,"1.6January 27, 2021",czgr(819),-,-,-,-,-,3
1,San Miguel,"2.5January 15, 2021",ResinousMaestro55(268),5,3,5,3,9,3
2,San Miguel,"2.5February 9, 2020","nimbleprop(11,986)",5,3,5,2,10,3
3,San Miguel,"1.3June 13, 2019","troopie(4,238)",2,3,3,1,4,3
4,San Miguel,"1.9May 28, 2019",BubbleTamer35(1),2,4,3,4,6,3

In [12]:
# Ratings are treated as strings from 0th to 3rd, and dates after that.
ttmp['rating'] = ttmp['beer_info'].apply(lambda x : x[:3])
ttmp['date'] = ttmp['beer_info'].apply(lambda x : x[3:])

ttmp.head()

,beer_name,beer_info,user,aroma,appearance,flavor,mouthfeel,overall,length,rating,date
0,San Miguel,"1.6January 27, 2021",czgr(819),-,-,-,-,-,3,1.6,"January 27, 2021"
1,San Miguel,"2.5January 15, 2021",ResinousMaestro55(268),5,3,5,3,9,3,2.5,"January 15, 2021"
2,San Miguel,"2.5February 9, 2020","nimbleprop(11,986)",5,3,5,2,10,3,2.5,"February 9, 2020"
3,San Miguel,"1.3June 13, 2019","troopie(4,238)",2,3,3,1,4,3,1.3,"June 13, 2019"
4,San Miguel,"1.9May 28, 2019",BubbleTamer35(1),2,4,3,4,6,3,1.9,"May 28, 2019"

In [13]:
ttmp.drop(['beer_info', 'length'], axis=1, inplace=True)
ttmp.tail()

,beer_name,user,aroma,appearance,flavor,mouthfeel,overall,rating,date
1,Unibroue 17 Grande RÃ©serve (Rhum & Cognac),"Viper666.Qc(10,518)",8,4,8,4,16,4.0,"April 26, 2020"
2,Unibroue 17 Grande RÃ©serve (Rhum & Cognac),"TaktikMTL(8,008)",8,3,9,4,16,4.0,"February 3, 2017"
3,Unibroue 17 Grande RÃ©serve (Rhum & Cognac),"MartinT(10,698)",7,4,8,4,15,3.8,"September 27, 2016"
4,Unibroue 17 Grande RÃ©serve (Rhum & Cognac),"Stoned99(2,365)",8,3,8,5,17,4.1,"September 3, 2016"
5,Unibroue 17 Grande RÃ©serve (Rhum & Cognac),"punkska101(3,022)",8,3,8,5,17,4.1,"September 3, 2016"

In [14]:
ttmp.rating.unique()

array(['1.6', '2.5', '1.3', '1.9', '2.1', '2.2', '2.6', '1.8', '2.0',
       '1.4', '3.3', '1.1', '3.0', '5.0', '1.0', '2.7', '0.5', '1.2',
       '0.8', '3.1', '1.5', '1.7', '2.9', '2.4', '0.9', '2.3', '3.2',
       '4.3', '2.8', '3.4', '3.9', '3.5', '4.5', '3.7', '4.4', '3.6',
       '4.1', '4.0', '3.8', '4.2', '4.7', '4.8', '4.9', '4.6', '0.7',
       '0.6', '0Ju'], dtype=object)

In [15]:
ttmp.aroma.unique()

array(['-', '5', '2', '4', '3', '7', '10', '1', '6', '8', '9'],
      dtype=object)

In [16]:
# Save only data with no detailed review value of'-'
ttmp = ttmp[ttmp['aroma']!='-']
ttmp = ttmp[ttmp['appearance']!='-']
ttmp = ttmp[ttmp['flavor']!='-']
ttmp = ttmp[ttmp['mouthfeel']!='-']
ttmp = ttmp[ttmp['overall']!='-']
ttmp[ttmp['aroma']=='-']

Empty DataFrame
Columns: [beer_name, user, aroma, appearance, flavor, mouthfeel, overall, rating, date]
Index: []

In [17]:
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114534 entries, 1 to 5
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   beer_name   114534 non-null  object
 1   user        114534 non-null  object
 2   aroma       114534 non-null  object
 3   appearance  114534 non-null  object
 4   flavor      114534 non-null  object
 5   mouthfeel   114534 non-null  object
 6   overall     114534 non-null  object
 7   rating      114534 non-null  object
 8   date        114534 non-null  object
dtypes: object(9)
memory usage: 8.7+ MB

In [18]:
# Convert numeric data to real number: use pd.to_numeric() function
ttmp['rating'] = pd.to_numeric(ttmp['rating'])
ttmp['aroma'] = pd.to_numeric(ttmp['aroma'])
ttmp['appearance'] = pd.to_numeric(ttmp['appearance'])
ttmp['flavor'] = pd.to_numeric(ttmp['flavor'])
ttmp['mouthfeel'] = pd.to_numeric(ttmp['mouthfeel'])
ttmp['overall'] = pd.to_numeric(ttmp['overall'])
# Remove duplicate rows.
ttmp.drop_duplicates(keep='first', inplace=True)

# Final data verification
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91776 entries, 1 to 5
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   beer_name   91776 non-null  object
 1   user        91776 non-null  object
 2   aroma       91776 non-null  int64
 3   appearance  91776 non-null  int64
 4   flavor      91776 non-null  int64
 5   mouthfeel   91776 non-null  int64
 6   overall     91776 non-null  int64
 7   rating      91776 non-null  float64
 8   date        91776 non-null  object
dtypes: float64(1), int64(5), object(3)
memory usage: 7.0+ MB

In [19]:
# Determine distribution of final data values
ttmp.describe()

,aroma,appearance,flavor,mouthfeel,overall,rating
count,91776.000000,91776.000000,91776.000000,91776.000000,91776.000000,91776.000000
mean,4.926386,3.070672,5.269776,2.831111,10.612055,2.671034
std,2.246927,1.106744,2.232509,1.067160,4.748153,1.056860
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.500000
25%,3.000000,2.000000,4.000000,2.000000,7.000000,1.900000
50%,5.000000,3.000000,5.000000,3.000000,11.000000,2.700000
75%,7.000000,4.000000,7.000000,4.000000,14.000000,3.500000
max,10.000000,5.000000,10.000000,5.000000,20.000000,5.000000

In [20]:
ttmp.reset_index(drop=True)
ttmp.to_csv('final_data.csv', encoding='utf-8')

In [ ]:
# Create beerID for each beer

grouped_name = final_data.csv